SECRET_KEY=zmien-mnie-na-losowy-ciag-znakow
DATABASE_URL=postgresql://postgres:haslotestowe@localhost/zflix
MAX_UPLOAD_MB=2048
FLASK_DEBUG=0
# Ustaw na 0 tylko jeśli testujesz lokalnie bez HTTPS (np. bez Tailscale Funnel)
SESSION_COOKIE_SECURE=1